<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EPCReaderWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
      <EPCReaderWriter.Properties.Settings>
        <setting name="AssetManagemetUrl" serializeAs="String">
          <value>http:\\assetmanagement.com</value>
        </setting>
        <setting name="Server" serializeAs="String">
          <value />
        </setting>
        <setting name="Port" serializeAs="String">
          <value />
        </setting>
        <setting name="UserId" serializeAs="String">
          <value />
        </setting>
        <setting name="Password" serializeAs="String">
          <value />
        </setting>
        <setting name="Database" serializeAs="String">
          <value />
        </setting>
        <setting name="SslMode" serializeAs="String">
          <value>None</value>
        </setting>
      </EPCReaderWriter.Properties.Settings>
    </userSettings>
</configuration>